
VehiclesSource/obj/Release/VehiclesSource.csprojAssemblyReference.cache
VehiclesSource/.vs/VehiclesSource/v15/.suo
VehiclesSource/.vs/VehiclesSource/v15/Server/sqlite3/storage.ide
VehiclesSource/.vs/VehiclesSource/v16/Server/sqlite3/db.lock
VehiclesSource/.vs/VehiclesSource/v16/Server/sqlite3/storage.ide-shm
VehiclesSource/.vs/VehiclesSource/v16/Server/sqlite3/storage.ide-wal
VehiclesSource/obj/Debug/VehiclesSource.csproj.CoreCompileInputs.cache
VehiclesSource/obj/Release/VehiclesSource.csprojAssemblyReference.cache
VehiclesSource/.vs/VehiclesSource/v15/.suo
VehiclesSource/.vs/VehiclesSource/v15/Server/sqlite3/storage.ide
VehiclesSource/.vs/VehiclesSource/v16/Server/sqlite3/storage.ide-shm
VehiclesSource/.vs/VehiclesSource/v16/Server/sqlite3/storage.ide-wal
VehiclesSource/obj/Debug/VehiclesSource.csproj.CoreCompileInputs.cache
VehiclesSource/obj/Release/VehiclesSource.csprojAssemblyReference.cache
